<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Academia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body class="background">

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="navbar-inner">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/"><strong>Copa do Mundo</strong> Rússia 2018</a>
                        </div>
                        <ul class="nav navbar-nav nav-pills">
                            <li>
                                <a href="/grupo/">Grupos</a>
                            </li>
                            <li>
                                <a href="/equipe/">Equipes</a>
                            </li>
                            <li>
                                <a href="/jogador/">Jogadores</a>
                            </li>
                        </ul>
                        {{#logado}}
                        <ul class="nav navbar-nav nav-pills pull-right">
                            <li>
                                <a href="#">{{usuario.login}}</a>
                            </li>
                            <li>
                                <a href="/deslogar">Deslogar</a>
                            </li>
                        </ul>
                        {{/logado}}
                    </div>
                </div>
            </nav>
        </div>
        <div class="row" style="margin-top: 60px">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Copa do Mundo Rússia 2018
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{#erro}}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#erros">Ocorreram erros</a>
                                </h4>
                            </div>
                            <div id="erros" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    {{#erros}}
                                    <li class="list-group-item list-group-item-danger">
                                        <strong>{{erro.msg}}</strong>
                                    </li>
                                    {{/erros}}
                                </ul>
                                <div class="panel-footer panel-danger"></div>
                            </div>
                        </div>
                        {{/erro}}



                        <form method="POST" action="/jogador/salvar">
                            <input type="hidden" name="id" value="{{jogador.id}}" />
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" value="{{jogador.nome}}" class="form-control" autofocus required placeholder="Nome" />
                            <label for="posicao">Posição</label>
                            <select name="posicao" class="form-control" required>
                                <option value="">Selecione uma posição</option>
                                {{#posicoes}}
                                    <option value="{{ordinal}}">{{toString}}</option>
                                {{/posicoes}}
                            </select>
                            <input type="submit" value="Salvar" class="btn btn-success pull-right" />
                        </form>

                        {{#temEquipe}}
                            <h3><strong>Equipe: </strong>
                                <a href="/equipe/editar/{{jogador.equipe.id}}">{{jogador.equipe.nome}}</a>
                            </h3>
                        {{/temEquipe}}


                    </div>
                    <div class="panel-footer">
                        <p>Admin de Academia, <strong>2018</strong>.</p>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                </body>
                </html>

